/*  your css code here. If applicable */
.stat {
	background-color: yellow;
}
.stat th, .stat td {
	border:1px solid black;
}

.stats caption {
    caption-side: top;      /* top or bottom */
    text-align: center;     /* center horizontally */
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
